* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");

body {
  margin: 0;
  background-color: whitesmoke;
  background-image: url("https://www.leonardodavinci.net/images/universal-genius.jpg");
  background-size: 100% 100%;
}

/* Home Page */

/* Header */
header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #004777;
}

header > img {
  height: 100%;
  /* margin-left: 10%; */
  display: flex;
}

header > h1 {
  font-family: "Audiowide", cursive, monospace;
  color: whitesmoke;
  font-size: 50px;
  /* margin-left: 60px; */
  border: 3px solid;
}

/* Navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 202, 111);
}

nav > button {
  font-family: "Audiowide", cursive, monospace;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
  display: flex;
}

/* Home Page Meme Container */
.meme {
  position: relative;
  width: 50%;
  margin: auto;
}

.meme > img {
  width: 100%;
  height: 60vh;
  margin-top: 10px;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form > input {
  width: 45%;
  height: 40px;
}

.meme-form > button {
  border: none;
  font-family: "Audiowide", cursive, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
}

.gen-add-lib {
  border: 1px solid #a30000;
  font-family: "Audiowide", cursive, monospace;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
  position: relative;
  width: 20%;
  top: 50%;
}

/* Footer */

.footer {
  height: 50px;
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #004777;
  margin-top: 40px;
}

.footer > img {
  height: 100%;
  margin-left: 10%;
}

.footer > h1,
h3 {
  font-family: "Audiowide", cursive, monospace;
  color: whitesmoke;
  font-size: 20px;
  margin-left: 60px;
}

/* Add Meme Form */
/* .add-meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.add-meme-form > input {
  width: 45%;
  height: 40px;
}

.add-meme {
  position: relative;
  width: 60%;
  margin: auto;
}

.add-meme > img {
  width: 100%;
  height: 60vh;
} */

/* /////////////////// */
.add-meme {
  position: relative;
  width: 50%;
  margin: auto;
}

.add-meme > img {
  width: 100%;
  height: 60vh;
  margin-top: 10px;
}

.add-meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.add-meme > .bottom {
  bottom: 0;
}

.add-meme > .top {
  top: 0;
}

.add-meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.add-meme-form > input {
  width: 45%;
  height: 40px;
}

.add-meme-form-btn-cancel {
  border: none;
  font-family: "Audiowide", cursive, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
  position: relative;
  bottom: 9%;
  left: 61%;
  margin-bottom: 40px;
}

.add-meme-form-btn-submit {
  border: none;
  font-family: "Audiowide", cursive, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
  position: relative;
  bottom: 9%;
  left: 11%;
  margin-bottom: 40px;
}

/* ///////////////////////// */

/* .add-meme-form-btn-submit {
  border: none;
  font-family: "Audiowide", cursive, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
  position: relative;
  bottom: 9%;
  left: 25%;
  margin-bottom: 40px;
}

.add-meme-form-btn-cancel {
  border: none;
  font-family: "Audiowide", cursive, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
  position: relative;
  bottom: 9%;
  left: 30%;
  margin-bottom: 40px;
} */

/* My Memes Library */

.my-memes-meme {
  /* width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between; */
}

.my-memes-input {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-left: 25%;
}

.my-memes-btn-edit {
  border: none;
  font-family: "Audiowide", cursive, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
  position: relative;
  bottom: 9%;
  left: 25%;
  margin-bottom: 40px;
}

.my-memes-btn-delete {
  border: none;
  font-family: "Audiowide", cursive, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #ff7700;
  position: relative;
  bottom: 9%;
  left: 30%;
  margin-bottom: 40px;
}
